<section class="section-dark" id="about">
    <div class="container">
        <h2 class="section-title">Почему мне доверяют компании и специалисты?</h2>
        <div class="benefits-grid">
            <div class="benefit-card fade-up">
                <h4 class="">🌱&nbsp;Junior → Middle</h4>
                <p class="">Помогаю начинающим найти первую работу и заложить фундамент роста.</p>
            </div>
            <div class="benefit-card fade-up">
                <h4 class="">📈&nbsp;Middle → Senior</h4>
                <p class="">Разбираюсь, где вас недооценивают, готовлю к переходу на новый уровень.</p>
            </div>
            <div class="benefit-card fade-up">
                <h4 class="">🏆&nbsp;Senior/Lead → Executive</h4>
                <p class="" contenteditable="false">Упаковываю опыт так, чтобы Вас искали хедхантеры.</p>
            </div>
            <div class="benefit-card fade-up">
                <h4 class="">🤝&nbsp;Бизнес-системность</h4>
                <p class="">Отбираю топ-5 кандидатов под бюджет и культуру компании, сокращаю время найма в 2 раза.</p>
            </div>
        </div>
    </div>
</section>