<section class="section" data-section-type="hero">
    <div class="container">
        <div class="hero-grid">
            <div class="hero-content cell-text fade-up" data-cell-type="text">
                <h1 class="hero-title" contenteditable="false">Виктория Любачева&nbsp;<br></h1>
                <div class="hero-subtitle">Карьерный консультант · HR‑эксперт · Бизнес‑тренер · Психолог</div>
                <div class="hero-text">
                    <p class="" contenteditable="false">Помогаю компаниям находить и развивать персонал. Кандидатам — найти работу, построить карьеру и повысить свой доход. <br>24 года в HR, 1000+ закрытых вакансий, 500+ карьерных консультаций.</p>
                    <p class="" contenteditable="false"><strong>Для бизнеса</strong> — подбор, онбординг, тренинги, обучение и удержание персонала, аудит HR-процессов.<br><strong>Для специалистов и руководителей&nbsp;</strong>— резюме, подготовка к интервью, стратегия поиска работы, управление персоналом.</p>
                </div>
                <a href="https://t.me/HrLubacheva" class="btn-primary" target="_blank">Написать в Telegram</a>
                <div class="small-note" contenteditable="false">Мои клиенты — люди различных профессий и разных сфер бизнеса: специалисты, руководители и собственники бизнеса.</div>
                <div class="small-note">Работаю с профессионалами от Junior до C-level и с бизнесом любого масштаба.</div>
            </div>
            <div class="hero-image cell-image fade-up" data-cell-type="image">
                <img src="assets/images/img_1.jpg" alt="Виктория Любачева" class="" loading="lazy" fetchpriority="high" style="">
            </div>
        </div>
    </div>
</section>