</main>
<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-copyright">
                © 2026 Виктория Любачева — Карьерный консультант, HR-эксперт, Бизнес-тренер, Психолог.
                <a href="privacy.html" target="_blank">Политика конфиденциальности</a>
            </div>
            <div class="footer-version">
                Версия: {{VERSION}}
            </div>
        </div>
    </div>

    <!-- Скрытый прайс-лист для SEO -->
    @@include('05_footer-prices.html')
</footer>